NEXT_PUBLIC_STORYBLOK_TOKEN=your_storyblok_preview_token
NEXT_PUBLIC_STORYBLOK_SPACE_ID=your_space_id
STORYBLOK_PREVIEW_SECRET=make_up_any_random_string

STRAPI_URL=http://localhost:1337
STRAPI_TOKEN=your_strapi_api_token
