NEXT_PUBLIC_STORYBLOK_TOKEN=your_storyblok_preview_token
NEXT_PUBLIC_STORYBLOK_SPACE_ID=your_space_id
STORYBLOK_PREVIEW_SECRET=make_up_any_random_string
STORYBLOK_MANAGEMENT_TOKEN=your_personal_access_token

STRAPI_URL=https://your-strapi-url
NEXT_PUBLIC_STRAPI_URL=https://your-strapi-url
STRAPI_TOKEN=your_strapi_api_token
